/*===================================================  
              Entire Document Settings
===================================================== */
html {
  font-size: 2vw;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
  text-decoration: none;
  list-style-type: none;
  /* overflow: hidden; */
  color: white;
  text-align: right;
  font-family: "Amatic SC", cursive;
}
/*===================================================  
             Top/Header
===================================================== */
header {
  text-align: center;
  margin-top: 2vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.headerImgDiv {
  width: 20%;
}
.headerImgDiv img {
  width: 100%;
  border-radius: 50%;
}
h1 {
  color: white;
  font-size: 4vw;
  margin: 2vw;
}
.tophead {
  justify-content: center;
  align-items: center;

  display: flex;
  width: 50%;
}
/*===================================================  
             Top Lists
===================================================== */
.boss {
  padding: 0;
  margin: 8vw auto;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
.boss .toplists {
  cursor: pointer;
  width: 10%;
}
.boss a,
p {
  transition: 0.8s;
  border-radius: 0.25vw;
}

.boss a:hover,
p:hover {
  background-color: white;
  color: black;
}

ul ul {
  list-style-type: none;
  padding: 0;
}
.hoverlist li {
  transform: translate(-100%);
  opacity: 0;
  background-color: grey;
  border-radius: 0.25vw;
  margin: 1vw;
}
.hoverlist {
  display: none;
}
.opac {
  animation: opac 2s forwards;

  transition: 2s;
}
@keyframes opac {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
/*===================================================  
           BGPhoto
===================================================== */

.normo {
  width: 50%;
  filter: brightness(40%);
  filter: grayscale(10);
}
