/*===================================================  
              Entire Document Settings
===================================================== */
html {
  font-size: 2vw;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
  text-decoration: none;
  list-style-type: none;
  /* overflow: hidden; */
  color: white;
  text-align: right;
  font-family: "Amatic SC", cursive;
}
/*===================================================  
         HeadShot Slide
===================================================== */
.headShotDiv {
  width: 99%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.imgDivSlide {
  width: 60%;
  overflow: hidden;
  margin: auto;
  padding: 3%;
  position: relative;
}
.imgDivSlide img {
  width: 50%;
}

.arrowDiv {
  position: absolute;
  top: 25vw;
  width: 150%;
  left: -15vw;

  display: flex;
  justify-content: space-around;
}
.arrowDiv i {
  background-color: white;
  font-size: 4vw;
  color: black;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.7s;
}
.arrowDiv i:hover {
  color: white;
  background-color: black;
}
.yeet {
  transform: translate(-100vw);
}
/*===================================================  
             Top/Header
===================================================== */
header {
  text-align: center;
  margin-top: 2vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.headerImgDiv {
  width: 20%;
}
.headerImgDiv img {
  width: 100%;
  border-radius: 50%;
}
h1 {
  color: white;
  font-size: 4vw;
  margin: 2vw;
}
.tophead {
  justify-content: center;
  align-items: center;

  display: flex;
  width: 50%;
}

/*===================================================  
             Top Lists
===================================================== */

.boss {
  padding: 0;
  margin: 8vw auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  /* align-items: center;*/
  text-align: center;
  list-style-type: none;
}
.boss .toplists {
  cursor: pointer;
  width: 10%;
}
.boss a,
p {
  transition: 0.8s;
  border-radius: 0.25vw;
}

.boss p:hover {
  background-color: white;
  color: black;
}

ul ul {
  list-style-type: none;
}
.hoverlist li {
  width: 100%;
  transform: translate(-100%);
  opacity: 0;
  background-color: black;
  border-radius: 0.25vw;
  display: none;
  font-size: 1.2vw;
  color: white;
  border: solid white;
  margin: 1vw auto;
}
.hoverlist li:hover {
  background-color: white;
  color: black;
}

.hoverlist {
  width: 10%;
  position: absolute;
}

/* ===================================================
  BGPhoto
  ===================================================== */
.normo {
  width: 50%;
  filter: brightness(40%);
  filter: grayscale(10);
}
