html {
  font-size: 2vw;
}
body {
  padding: 0;
  margin: 0;
  background-color: black;
  text-decoration: none;
  list-style-type: none;
  /* overflow: hidden; */
  color: white;
  text-align: right;
  font-family: "Amatic SC", cursive;
}
header {
  text-align: center;
  margin-top: 2vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.headerImgDiv {
  width: 20%;
}
.headerImgDiv img {
  width: 100%;
  border-radius: 50%;
}
h1 {
  color: white;
  font-size: 4vw;
  margin: 2vw;
}
.tophead {
  justify-content: center;
  align-items: center;

  display: flex;
  width: 50%;
}
ul {
  padding: 0;
  margin: 8vw auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
li {
  text-align: center;
  width: 10%;
  cursor: pointer;
  padding: 0.5vw;
  transition: 0.8s;
}
li:hover {
  background-color: white;
  color: black;
}
.normo {
  width: 50%;
  filter: brightness(40%);
}
